.center1 {
  position: relative;
  top: 50px;
  margin-bottom: 30px;
}
.center2 {
  text-align: center;
}
.l-wrapper_02 {
  margin: 1rem auto;
  width: 350px;
  position: relative;
}
.card-radius_02{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.card_02 {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
}

.card__title_02 {
  padding: 0 2rem 0;
  font-size: 1rem;
  order: 1;
  font-weight: bold;
  text-decoration: none;
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;

}

.card__thumbnail_02 {
  margin: 0 auto;
  order: 0;
  text-align: center;
}

.card__body_02 {
  padding: 0 1.5rem;
}

.card__text_02 {
  font-size: .8rem;
  text-align:center;
  text-decoration: none;
}

.card__text2_02 {
  font-size: .8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}